#pPrincipal {
    /* background-color: rgb(1, 26, 8); */
    color:white;
    border-radius: 15px;
}

#pPrincipal h1 {
}

#boasVindas {
    padding: 15px;
}
#boasVindas h1 {
    font: bold 20pt verdana;
}

#Cardapio {
    color: black;
}
#menuCategorias {
    background-color:rgb(235, 62, 43);
    padding-top: 2px;
    padding-left: 2px;
    color: white;
    height: 40px;
    border-radius: 17px 17px 0 0 ;
}

.categoria {
    background-color: rgb(7, 24, 16);
    
    color: rgb(153, 156, 146);
    display: block;
    float:left;
    width:75px;
    height: 40px;
    text-align: center;
}

.categoria p {
    padding-top: 10px;
}

.categoria:hover{

    background-color: rgb(109, 106, 106);

}

#primeiro{
    border-radius: 15px 0 0 0;
}

#ultimo{
    border-radius: 0 15px 0 0;
}

#listaPratos {
    background-color:white;
}

.pratoCard {
    border-top: 3pt solid black;
    background-color: #dbdbdb;
    position:relative;
    display:block;
    float: inline-start;
    width:100%;
    height: 200px;
}

#card0 {
    border-top: 0pt solid black;

}

#nomePrato {
    margin: 0px;
}

#descricao {
    left: 0;
    top:0;
}

.descTextoCard {
    margin: 10px;
    float: left;
    width: 40%;
    height: 130px;
}

h1.nomePrato{
    font: bold 14pt verdana; 
}

p.descricaoPrato {
    margin-left: 20px;
}


.imagemPratoCard {
    float:right;
    top:0;
    margin: 10px;
    height:180px;
    border-radius:15px;
}

.descFooter {
    position: absolute;
    float:left;
    bottom: 0;
    width:50%;
    height: 50px;
    margin: 10px;
}

p.preco {
    bottom: 0;
    float:left;
    text-align: left;
    width: 10%;

    margin:10px 50px;
    font: normal 14px arial;

}

.acoes {
    float:left;
    top: auto;
}

.cartProdControler {
    margin-top:50%;
    transform: translateY(-100%);
}

#add {
    background-color:rgb(70, 69, 69);
    color: white;
    /* margin-top: 50%; */
    height: 40px;
    /* margin-left: 50%; */
    /* transform: translate(-50%, -100%); */
    width: 100px;
    /* top:5%; */
    bottom: 0;
    border: 0px;
    border-radius: 10px;
}

#add:hover {
    background-color:rgb(131, 130, 130);
    color: rgb(97, 97, 97);
} 


