
#menuCategorias {
    position: relative;
    background-color:black;
    color: white;
    width:150px;
    border-radius: 15px;
}
#Cardapio {
    position:relative;
}
.categoria {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.categoria:hover{

    background-color: rgb(109, 106, 106);

}

#primeiro{
    border-radius: 15px 15px 0 0;
}

#ultimo{
    border-radius: 0 0 15px 15px;
}

#listaPratos {
    position: absolute;
    top : 0;
    left: 160px;
}
