.acoes {
    width: 80px;
}

.quant {
    width: 100%;
    background-color:black;
    border-radius: 3px;
    padding: 0 3px;
}

.remover {
    width: 100%;
    height: 20px;
    background-color: rgb(182, 10, 10);
    color: white;
    margin-top: 3px;
    border-radius: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}